
.wrapPage{
	height:400px;
	width:600px;
	margin-left:80px;
	border: 1px solid black;
	border-radius: 7px;
	background-color:#F8F8FF;
}

input[type=text], select {
	width: 50%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
  	border: 1px solid #ccc;
  	border-radius: 4px;
  	box-sizing: border-box;
}

.btn-submit {
	width: 57%;
  	background-color: #4CAF50;
  	color: white;
  	padding: 14px 20px;
 	margin: 8px 0;
  	border: none;
  	border-radius: 4px;
  	cursor: pointer;
}

#allCompanies{
	padding-top: 12px;
  	padding-bottom: 12px;
	padding: 12px 20px;
	margin: 8px 0;
}

.aBtn{
	width: 57%;
	padding: 14px 20px;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  text-decoration: none;
}

#companyInfo{
	width: 50%;
	padding: 12px 20px;
	margin: 8px 0;
}

h3{
	width: 50%;
	padding: 12px 20px;
	margin: 8px 0;
}

#companyInfoTable{
	width: 90%;
	padding: 12px 20px;
	margin: 8px 0;
}

textarea{
	width: 90%;
	padding: 12px 20px;
	margin: 8px 0;
}

#btnChangeAndUpdate{
	width: 57%;
  	background-color: #4CAF50;
  	color: white;
  	padding: 14px 20px;
 	margin: 8px 0;
  	border: none;
  	border-radius: 4px;
  	cursor: pointer;
}




